@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.font-raleway {
  font-family: 'Raleway', sans-serif;
}

.font-inter{
  font-family: 'Inter', sans-serif;
}

.hero-bg {
  /* background-image: url('./assets/waves.svg'), url('./assets/endless-clouds.svg');
  background-size: 103%, 80px;
  background-position: top, top left;
  background-repeat: no-repeat, repeat;  */
  background-image:url('./assets/endless-clouds.svg');
  background-size: 80px;
  background-position: top left;
  background-repeat: repeat; 
}

.welcome-bg{
		background-image:url('./assets/mountain.png');
		background-repeat: no-repeat;
		
}
.warna-background0{
	background-color: red;
}
.warna-background1{
	background-color: purple;
}

.signup-bg {
  /* background-image: url('./assets/waves.svg'), url('./assets/endless-clouds.svg');
  background-size: 103%, 80px;
  background-position: top, top left;
  background-repeat: no-repeat, repeat;  */
  background-color: #443091;
  background-size: 100%;
  background-image: none;
  background-size: 50%;
  background-position: right;
  background-repeat: no-repeat;
}

@media (min-width: 640px) { 
  .signup-bg {
    background-color: #443091;
  background-size: 100%;
  background-image: url('./assets/signup-background.png');
  background-size: 50%;
  background-position: right;
  background-repeat: no-repeat;
  }
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}



@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0;
	}
	to {
		top: 0;
		opacity: 1;
	}
}
@-webkit-keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
@keyframes zoomIn {
	0% {
		opacity: 0;
		-webkit-transform: scale3d(0.3, 0.3, 0.3);
		transform: scale3d(0.3, 0.3, 0.3);
	}
	50% {
		opacity: 1;
	}
}
/*End Animations*/
/*
-- Start BackGround Animation 
*/
.area {
	background: #4e54c8;
	background: -webkit-linear-gradient(to left, #8f94fb, #4e54c8);
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: -1;
}

.circles {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 96%;
	overflow: hidden;
}

.circles li {
	position: absolute;
	display: block;
	list-style: none;
	width: 20px;
	height: 20px;
	background: rgba(255, 255, 255, 0.2);
	animation: animate 25s linear infinite;
	bottom: -150px;
}

.circles li:nth-child(1) {
	left: 25%;
	width: 80px;
	height: 80px;
	animation-delay: 0s;
}

.circles li:nth-child(2) {
	left: 10%;
	width: 20px;
	height: 20px;
	animation-delay: 2s;
	animation-duration: 12s;
}

.circles li:nth-child(3) {
	left: 70%;
	width: 20px;
	height: 20px;
	animation-delay: 4s;
}

.circles li:nth-child(4) {
	left: 40%;
	width: 60px;
	height: 60px;
	animation-delay: 0s;
	animation-duration: 18s;
}

.circles li:nth-child(5) {
	left: 65%;
	width: 20px;
	height: 20px;
	animation-delay: 0s;
}

.circles li:nth-child(6) {
	left: 75%;
	width: 110px;
	height: 110px;
	animation-delay: 3s;
}

.circles li:nth-child(7) {
	left: 35%;
	width: 150px;
	height: 150px;
	animation-delay: 7s;
}

.circles li:nth-child(8) {
	left: 50%;
	width: 25px;
	height: 25px;
	animation-delay: 15s;
	animation-duration: 45s;
}

.circles li:nth-child(9) {
	left: 20%;
	width: 15px;
	height: 15px;
	animation-delay: 2s;
	animation-duration: 35s;
}

.circles li:nth-child(10) {
	left: 85%;
	width: 150px;
	height: 150px;
	animation-delay: 0s;
	animation-duration: 11s;
}

@keyframes animate {
	0% {
		transform: translateY(0) rotate(0deg);
		opacity: 1;
		border-radius: 0;
	}

	100% {
		transform: translateY(-1000px) rotate(720deg);
		opacity: 0;
		border-radius: 50%;
	}
}

.w-600{
	width: 600px;
}
.w-300{
	width: 500px;
}

/*  */
.e-card {
  margin: 100px auto;
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  position: relative;
  width: 240px;
  height: 330px;
  border-radius: 16px;
  overflow: hidden;
}

.wave0 {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);
}

.icon {
  width: 3em;
  margin-top: -1em;
  padding-bottom: 1em;
}

.infotop {
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 5.6em;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.name {
  font-size: 14px;
  font-weight: 100;
  position: relative;
  top: 1em;
  text-transform: lowercase;
}

.wave0:nth-child(2),
.wave0:nth-child(3) {
  top: 210px;
}

.playing .wave0 {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave0 {
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave0:nth-child(2) {
  animation-duration: 4000ms;
}

.wave0:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave0:nth-child(3) {
  animation-duration: 5000ms;
}

.wave0:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* wave1 */
.e-card {
	margin: 100px auto;
	background: transparent;
	box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
	position: relative;
	width: 240px;
	height: 330px;
	border-radius: 16px;
	overflow: hidden;
  }
  
  .wave1 {
	position: absolute;
	width: 540px;
	height: 700px;
	opacity: 0.6;
	left: 0;
	top: 0;
	margin-left: -50%;
	margin-top: -70%;
	background: linear-gradient(744deg,#67C6E3,#378CE7 60%,#DFF5FF);
  }
  
  .icon {
	width: 3em;
	margin-top: -1em;
	padding-bottom: 1em;
  }
  
  .infotop {
	text-align: center;
	font-size: 20px;
	position: absolute;
	top: 5.6em;
	left: 0;
	right: 0;
	color: rgb(255, 255, 255);
	font-weight: 600;
  }
  
  .name {
	font-size: 14px;
	font-weight: 100;
	position: relative;
	top: 1em;
	text-transform: lowercase;
  }
  
  .wave1:nth-child(2),
  .wave1:nth-child(3) {
	top: 210px;
  }
  
  .playing .wave1 {
	border-radius: 40%;
	animation: wave 3000ms infinite linear;
  }
  
  .wave1 {
	border-radius: 40%;
	animation: wave 55s infinite linear;
  }
  
  .playing .wave1:nth-child(2) {
	animation-duration: 4000ms;
  }
  
  .wave1:nth-child(2) {
	animation-duration: 50s;
  }
  
  .playing .wave1:nth-child(3) {
	animation-duration: 5000ms;
  }
  
  .wave1:nth-child(3) {
	animation-duration: 45s;
  }
  
  @keyframes wave {
	0% {
	  transform: rotate(0deg);
	}
  
	100% {
	  transform: rotate(360deg);
	}
  }


/* wave2*/
.e-card {
	margin: 100px auto;
	background: transparent;
	box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
	position: relative;
	width: 240px;
	height: 330px;
	border-radius: 16px;
	overflow: hidden;
  }
  
  .wave2 {
	position: absolute;
	width: 540px;
	height: 700px;
	opacity: 0.6;
	left: 0;
	top: 0;
	margin-left: -50%;
	margin-top: -70%;
	background: linear-gradient(744deg,#FDA403,#E8751A 60%,#E5C287);
  }
  
  .icon {
	width: 3em;
	margin-top: -1em;
	padding-bottom: 1em;
  }
  
  .infotop {
	text-align: center;
	font-size: 20px;
	position: absolute;
	top: 5.6em;
	left: 0;
	right: 0;
	color: rgb(255, 255, 255);
	font-weight: 600;
  }
  
  .name {
	font-size: 14px;
	font-weight: 100;
	position: relative;
	top: 1em;
	text-transform: lowercase;
  }
  
  .wave2:nth-child(2),
  .wave2:nth-child(3) {
	top: 210px;
  }
  
  .playing .wave2 {
	border-radius: 40%;
	animation: wave 3000ms infinite linear;
  }
  
  .wave2 {
	border-radius: 40%;
	animation: wave 55s infinite linear;
  }
  
  .playing .wave2:nth-child(2) {
	animation-duration: 4000ms;
  }
  
  .wave2:nth-child(2) {
	animation-duration: 50s;
  }
  
  .playing .wave2:nth-child(3) {
	animation-duration: 5000ms;
  }
  
  .wave2:nth-child(3) {
	animation-duration: 45s;
  }
  
  @keyframes wave {
	0% {
	  transform: rotate(0deg);
	}
  
	100% {
	  transform: rotate(360deg);
	}
  }

/* wave3*/
.e-card {
	margin: 100px auto;
	background: transparent;
	box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
	position: relative;
	width: 240px;
	height: 330px;
	border-radius: 16px;
	overflow: hidden;
  }
  
  .wave3 {
	position: absolute;
	width: 540px;
	height: 700px;
	opacity: 0.6;
	left: 0;
	top: 0;
	margin-left: -50%;
	margin-top: -70%;
	background: linear-gradient(744deg,#FF004D,#7D0A0A 60%,#BE3144);
  }
  
  .icon {
	width: 3em;
	margin-top: -1em;
	padding-bottom: 1em;
  }
  
  .infotop {
	text-align: center;
	font-size: 20px;
	position: absolute;
	top: 5.6em;
	left: 0;
	right: 0;
	color: rgb(255, 255, 255);
	font-weight: 600;
  }
  
  .name {
	font-size: 14px;
	font-weight: 100;
	position: relative;
	top: 1em;
	text-transform: lowercase;
  }
  
  .wave3:nth-child(2),
  .wave3:nth-child(3) {
	top: 210px;
  }
  
  .playing .wave2 {
	border-radius: 40%;
	animation: wave 3000ms infinite linear;
  }
  
  .wave3 {
	border-radius: 40%;
	animation: wave 55s infinite linear;
  }
  
  .playing .wave3:nth-child(2) {
	animation-duration: 4000ms;
  }
  
  .wave3:nth-child(2) {
	animation-duration: 50s;
  }
  
  .playing .wave3:nth-child(3) {
	animation-duration: 5000ms;
  }
  
  .wave3:nth-child(3) {
	animation-duration: 45s;
  }
  
  @keyframes wave {
	0% {
	  transform: rotate(0deg);
	}
  
	100% {
	  transform: rotate(360deg);
	}
  }
/*  */
.e-card {
  margin: 100px auto;
  background: transparent;
  box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
  position: relative;
  width: 240px;
  height: 330px;
  border-radius: 16px;
  overflow: hidden;
}

.wave4 {
  position: absolute;
  width: 540px;
  height: 700px;
  opacity: 0.6;
  left: 0;
  top: 0;
  margin-left: -50%;
  margin-top: -70%;
  background: linear-gradient(744deg,#af40ff,#5b42f3 60%,#00ddeb);
}

.icon {
  width: 3em;
  margin-top: -1em;
  padding-bottom: 1em;
}

.infotop {
  text-align: center;
  font-size: 20px;
  position: absolute;
  top: 5.6em;
  left: 0;
  right: 0;
  color: rgb(255, 255, 255);
  font-weight: 600;
}

.name {
  font-size: 14px;
  font-weight: 100;
  position: relative;
  top: 1em;
  text-transform: lowercase;
}

.wave4:nth-child(2),
.wave4:nth-child(3) {
  top: 210px;
}

.playing .wave4 {
  border-radius: 40%;
  animation: wave 3000ms infinite linear;
}

.wave4{
  border-radius: 40%;
  animation: wave 55s infinite linear;
}

.playing .wave4:nth-child(2) {
  animation-duration: 4000ms;
}

.wave4:nth-child(2) {
  animation-duration: 50s;
}

.playing .wave4:nth-child(3) {
  animation-duration: 5000ms;
}

.wave4:nth-child(3) {
  animation-duration: 45s;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}


/* wave5 */
.e-card {
	margin: 100px auto;
	background: transparent;
	box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
	position: relative;
	width: 240px;
	height: 330px;
	border-radius: 16px;
	overflow: hidden;
  }
  
  .wave5 {
	position: absolute;
	width: 540px;
	height: 700px;
	opacity: 0.6;
	left: 0;
	top: 0;
	margin-left: -50%;
	margin-top: -70%;
	background: linear-gradient(744deg,#67C6E3,#378CE7 60%,#DFF5FF);
  }
  
  .icon {
	width: 3em;
	margin-top: -1em;
	padding-bottom: 1em;
  }
  
  .infotop {
	text-align: center;
	font-size: 20px;
	position: absolute;
	top: 5.6em;
	left: 0;
	right: 0;
	color: rgb(255, 255, 255);
	font-weight: 600;
  }
  
  .name {
	font-size: 14px;
	font-weight: 100;
	position: relative;
	top: 1em;
	text-transform: lowercase;
  }
  
  .wave5:nth-child(2),
  .wave5:nth-child(3) {
	top: 210px;
  }
  
  .playing .wave5 {
	border-radius: 40%;
	animation: wave 3000ms infinite linear;
  }
  
  .wave5 {
	border-radius: 40%;
	animation: wave 55s infinite linear;
  }
  
  .playing .wave5:nth-child(2) {
	animation-duration: 4000ms;
  }
  
  .wave5:nth-child(2) {
	animation-duration: 50s;
  }
  
  .playing .wave5:nth-child(3) {
	animation-duration: 5000ms;
  }
  
  .wave5:nth-child(3) {
	animation-duration: 45s;
  }
  
  @keyframes wave {
	0% {
	  transform: rotate(0deg);
	}
  
	100% {
	  transform: rotate(360deg);
	}
  }


/* wave6*/
.e-card {
	margin: 100px auto;
	background: transparent;
	box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
	position: relative;
	width: 240px;
	height: 330px;
	border-radius: 16px;
	overflow: hidden;
  }
  
  .wave6 {
	position: absolute;
	width: 540px;
	height: 700px;
	opacity: 0.6;
	left: 0;
	top: 0;
	margin-left: -50%;
	margin-top: -70%;
	background: linear-gradient(744deg,#FDA403,#E8751A 60%,#E5C287);
  }
  
  .icon {
	width: 3em;
	margin-top: -1em;
	padding-bottom: 1em;
  }
  
  .infotop {
	text-align: center;
	font-size: 20px;
	position: absolute;
	top: 5.6em;
	left: 0;
	right: 0;
	color: rgb(255, 255, 255);
	font-weight: 600;
  }
  
  .name {
	font-size: 14px;
	font-weight: 100;
	position: relative;
	top: 1em;
	text-transform: lowercase;
  }
  
  .wave6:nth-child(2),
  .wave6:nth-child(3) {
	top: 210px;
  }
  
  .playing .wave6 {
	border-radius: 40%;
	animation: wave 3000ms infinite linear;
  }
  
  .wave6 {
	border-radius: 40%;
	animation: wave 55s infinite linear;
  }
  
  .playing .wave6:nth-child(2) {
	animation-duration: 4000ms;
  }
  
  .wave6:nth-child(2) {
	animation-duration: 50s;
  }
  
  .playing .wave6:nth-child(3) {
	animation-duration: 5000ms;
  }
  
  .wave6:nth-child(3) {
	animation-duration: 45s;
  }
  
  @keyframes wave {
	0% {
	  transform: rotate(0deg);
	}
  
	100% {
	  transform: rotate(360deg);
	}
  }

/* wave7*/
.e-card {
	margin: 100px auto;
	background: transparent;
	box-shadow: 0px 8px 28px -9px rgba(0,0,0,0.45);
	position: relative;
	width: 240px;
	height: 330px;
	border-radius: 16px;
	overflow: hidden;
  }
  
  .wave7 {
	position: absolute;
	width: 540px;
	height: 700px;
	opacity: 0.6;
	left: 0;
	top: 0;
	margin-left: -50%;
	margin-top: -70%;
	background: linear-gradient(744deg,#FF004D,#7D0A0A 60%,#BE3144);
  }
  
  .icon {
	width: 3em;
	margin-top: -1em;
	padding-bottom: 1em;
  }
  
  .infotop {
	text-align: center;
	font-size: 20px;
	position: absolute;
	top: 5.6em;
	left: 0;
	right: 0;
	color: rgb(255, 255, 255);
	font-weight: 600;
  }
  
  .name {
	font-size: 14px;
	font-weight: 100;
	position: relative;
	top: 1em;
	text-transform: lowercase;
  }
  
  .wave7:nth-child(2),
  .wave7:nth-child(3) {
	top: 210px;
  }
  
  .playing .wave7 {
	border-radius: 40%;
	animation: wave 3000ms infinite linear;
  }
  
  .wave7 {
	border-radius: 40%;
	animation: wave 55s infinite linear;
  }
  
  .playing .wave7:nth-child(2) {
	animation-duration: 4000ms;
  }
  
  .wave7:nth-child(2) {
	animation-duration: 50s;
  }
  
  .playing .wave7:nth-child(3) {
	animation-duration: 5000ms;
  }
  
  .wave7:nth-child(3) {
	animation-duration: 45s;
  }
  
  @keyframes wave {
	0% {
	  transform: rotate(0deg);
	}
  
	100% {
	  transform: rotate(360deg);
	}
  }

  /* learn more button */
  button {
	--primary-color: #645bff;
	--secondary-color: #fff;
	--arrow-color: #fd0000;
	--hover-color: #111;
	--arrow-width: 10px;
	--arrow-stroke: 2px;
	box-sizing: border-box;
	border: 0;
	border-radius: 20px;
	color: var(--secondary-color);
	padding: 1em 1.8em;
	background: var(--primary-color);
	display: flex;
	transition: 0.2s background;
	align-items: center;
	gap: 0.6em;
	font-weight: bold;
  }
  
  button .arrow-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  button .arrow {
	margin-top: 1px;
	width: var(--arrow-width);
	/* background: var(--arrow-color); */
	height: var(--arrow-stroke);
	position: relative;
	transition: 0.2s;
  }
  
  button .arrow::before {
	content: "";
	box-sizing: border-box;
	position: absolute;
	border: solid var(--arrow-color);
	border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
	display: inline-block;
	top: -3px;
	right: 3px;
	transition: 0.2s;
	padding: 3px;
	transform: rotate(-45deg);
  }
  
  button:hover {
	background-color: var(--hover-color);
  }
  
  button:hover .arrow {
	background: var(--secondary-color);
  }
  
  button:hover .arrow:before {
	right: 0;
  }

  /* Next */

  .btn-conteiner {
	display: flex;
	justify-content: center;
	--color-text: #9ee5fa;
	--color-background: #353535;
	--color-outline: #9ee5fa80;
	--color-shadow: #00000080;
  }
  
  .btn-content {
	display: flex;
	align-items: center;
	padding: 0px 3px;
	text-decoration: none;
	font-family: "Poppins", sans-serif;
	font-size: 25px;
	color: var(--color-text);
	background: var(--color-background);
	transition: 1s;
	border-radius: 100px;
	box-shadow: 0 0 0.2em 0 var(--color-background);
  }
  
  .btn-content:hover,
  .btn-content:focus {
	transition: 0.5s;
	-webkit-animation: btn-content 1s;
	animation: btn-content 1s;
	outline: 0.1em solid transparent;
	outline-offset: 0.2em;
	box-shadow: 0 0 0.4em 0 var(--color-background);
  }
  
  .btn-content .icon-arrow {
	transition: 0.5s;
	margin-right: 0px;
	transform: scale(0.6);
  }
  
  .btn-content:hover .icon-arrow {
	transition: 0.5s;
	margin-right: 25px;
  }
  
  .icon-arrow {
	width: 20px;
	margin-left: 15px;
	position: relative;
	top: 6%;
  }
  
  /* SVG */
  #arrow-icon-one {
	transition: 0.4s;
	transform: translateX(-60%);
  }
  
  #arrow-icon-two {
	transition: 0.5s;
	transform: translateX(-30%);
  }
  
  .btn-content:hover #arrow-icon-three {
	animation: color_anim 1s infinite 0.2s;
  }
  
  .btn-content:hover #arrow-icon-one {
	transform: translateX(0%);
	animation: color_anim 1s infinite 0.6s;
  }
  
  .btn-content:hover #arrow-icon-two {
	transform: translateX(0%);
	animation: color_anim 1s infinite 0.4s;
  }
  
  /* SVG animations */
  @keyframes color_anim {
	0% {
	  fill: white;
	}
  
	50% {
	  fill: var(--color-background);
	}
  
	100% {
	  fill: #9ee5fa;
	}
  }
  
  /* Button animations */
  @-webkit-keyframes btn-content {
	0% {
	  outline: 0.2em solid var(--color-background);
	  outline-offset: 0;
	}
  }
  
  @keyframes btn-content {
	0% {
	  outline: 0.2em solid var(--color-background);
	  outline-offset: 0;
	}
  }
  


  /* materi user interface */
  